.App {
  /*text-align: center;*/
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f3b917;
  color: white;
}

ul {
  width: 50%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.main-nav:hover {
  color: black;
}

.container {
  padding: 2em;
  margin: 2em;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
}

.books-image {
  float: left;
}

.book-section {
  display: flex;
  background-color: #d3d3d3;
  padding: 1em;
  margin: 1em;
  box-shadow: 7px 7px 0px rgb(0, 0, 128);
}

.book {
  max-width: 20%;
  max-height: 20%;
}

.book-title {
  float: left;
}

.book-information {
  margin-left: 1em;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background: #f3b917;
}
