.App {
  /* text-align: center; */
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f3b917;
  color: white;
}

ul {
  width: 50%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.container {
  padding: 2em;
  margin: 2em;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
}

.books-image {
  float: left;
}

.book-section {
  display: flex;
  background-color: #D3D3D3;
  padding: 1em;
}

.book {
  max-width: 20%;
  max-height: 20%;
}

.book-title {
  float: left;
}

.book-information {
  margin-left: 1em;
}

.book-author {

}
