.App {
  /*text-align: center;*/
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #f3b917;
  color: white;
}

ul {
  width: 50%;
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

.main-nav:hover {
  color: black;
}

.container {
  padding: 2em;
  margin: 2em;
}

h1 {
  text-align: center;
}

p {
  text-align: justify;
}

.books-image {
  float: left;
}

.book-section {
  height: 259px;
  display: grid;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 20% 20% 60%;
  background-color: #d3d3d3;
  padding: 1em;
  margin: 1em;
  box-shadow: 7px 7px 0px rgb(0, 0, 128);
}

.book {
  height: 259px;
  grid-column: 1/2;
  grid-row: 1/4;
}

.book-title {
  grid-column: 2/3;
  grid-row: 1/2;
}

.book-author {
  grid-column: 2/3;
  grid-row: 2/3;
}

.book-information {
  /* margin-left: 1em; */
  grid-column: 2/3;
  grid-row: 3/4;
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background: #f3b917;
}

.bible-books {
  list-style: none;
}

.chapters {
  list-style: none;
}
